.card {
  position: relative;
}
.card .overflow {
  position: absolute;
  z-index: -1;
}
.card:hover > .overflow {
  position: absolute;
  z-index: 9;
}
.overflow {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
